# For a full list of active aliases, run `alias`.

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Shortcuts
alias d="cd ~/My\ Drive"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias p="cd ~/projects"
alias h="history"
alias j="jobs"
alias e="exit"
alias hh="hstr"
alias ytd="yt-dlp"
alias mp='multipass'

# eza (ls replacement)
alias ls='eza'
alias l='eza -lbF --git'
alias la='eza -lbhHigUmuSa --time-style=long-iso --git --color-scale'

# bat (cat replacement)
alias cat="bat --paging=never"

# bottom (top replacement)
alias top="btm"

# Overrides to use 1Password CLI to load env vars
# https://developer.1password.com/docs/cli/authenticate-clis/
alias aws="op run --env-file=\$HOME/.config/op/aws.env -- aws"

# Reload the shell
alias reload="source ~/.zshrc"

# Open iOS Simulator
alias ios-simulator="open /Applications/Xcode.app/Contents/Developer/Applications/iOS\ Simulator.app"

# Run Rails tests with bundle exec
alias bert="bundle exec rails test"

# Start/stop Redis
alias redis-start="(redis-server &)"
alias redis-stop="(redis-cli shutdown)"

# More memorable Git branch cleanup
alias git-clean-remote-branches="gfa"
alias git-clean-local-branches="gbda"

# More memorable markdownlint-cli2 command
alias mdlint="markdownlint-cli2"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Get current month number
alias month='date +%m'

# Update Zsh plugins and rtx versions
alias update-shell="antidote update; rtx upgrade; rtx prune"

# Update Homebrew packages
alias update-brew='brew update; brew upgrade; brew cleanup'

# Update global Node packages
alias update-node='npm update -g'

# Update most packages
alias update='update-brew; update-node; update-shell'

# Update global Ruby gems (rarely used)
alias update-gems='gem update --system; gem update; gem cleanup'

# Brave
alias brave='/Applications/Brave\ Browser.app/Contents/MacOS/Brave\ Browser'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Show active network interfaces
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# Canonical hex dump; some systems have this symlinked
command -v hd > /dev/null || alias hd="hexdump -C"

# macOS has no `md5sum`, so use `md5` as a fallback
command -v md5sum > /dev/null || alias md5sum="md5"

# macOS has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum > /dev/null || alias sha1sum="shasum"

# JavaScriptCore REPL
jscbin="/System/Library/Frameworks/JavaScriptCore.framework/Versions/A/Resources/jsc";
[ -e "${jscbin}" ] && alias jsc="${jscbin}";
unset jscbin;

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Open random file in folder
alias random-file="find . -type f | shuf | head -n1 | xargs -I {} open {}"

# Disable Spotlight
alias spotoff="sudo mdutil -a -i off"
# Enable Spotlight
alias spoton="sudo mdutil -a -i on"

# PlistBuddy alias, because sometimes `defaults` just doesn’t cut it
alias plistbuddy="/usr/libexec/PlistBuddy"

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
	alias "${method}"="lwp-request -m '${method}'"
done

# List all PATH entries
alias path='echo -e ${PATH//:/\\n}'
