# NOTE: Run `alias` for a full list of aliases

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Directory shortcuts
alias p="cd ~/projects"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"

# Shorten common commands
alias e="exit"
alias h="history"
alias hh="hstr"
alias ytd="yt-dlp"

# Use latest curl (only when running interactively)
alias curl='/opt/homebrew/opt/curl/bin/curl'

# lsd (ls replacement)
alias ls='lsd'
alias l='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias lt='ls --tree'

# bat (cat replacement)
alias cat="bat --paging=never"

# bottom (top replacement)
alias top="btm"

# Reload the shell
alias reload="source ~/.zshrc"

# Kill all Node.js processes
alias killnode='killall node'

# List all PATH entries
alias path='echo -e ${PATH//:/\\n}'

# Get current month number
alias month='date +%m'

# Run Rails tests with bundle exec
alias bert="bundle exec rails test"

# More memorable Git branch cleanup
alias git-clean-remote-branches="gfa"
alias git-clean-local-branches="gbda"

# Output current branch lines added/removed
alias git-lines="git diff --shortstat main...HEAD"
alias branch-size="git-lines"

# More memorable markdownlint-cli2 command
alias mdlint="markdownlint-cli2"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Update Zsh plugins and mise runtimes
alias update-shell="antidote update; mise upgrade; mise prune"

# Update Homebrew packages
alias update-brew='brew update; brew upgrade; brew cleanup'

# Update global Node packages
alias update-node='npm update -g'

# Update most packages
alias update='update-brew; update-node; update-shell'

# Update global Ruby gems (rarely used)
alias update-gems='gem update --system; gem update; gem cleanup'

# Brave
alias brave='/Applications/Brave\ Browser.app/Contents/MacOS/Brave\ Browser'

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# Get external IP address
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

# Get internal IP address (depends on network interface, see `ifactive`)
alias localip="ipconfig getifaddr en5"

# List all IPv4 and IPv6 addresses associated with all network interfaces on the system
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Show active network interfaces
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Show/hide hidden files in Finder
alias showhidden="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hidehidden="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Show/hide all desktop icons (useful when presenting)
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"

# Open random file in folder
alias random-file="find . -type f | shuf | head -n1 | xargs -I {} open {}"

# Disable Spotlight
alias spotoff="sudo mdutil -a -i off"

# Enable Spotlight
alias spoton="sudo mdutil -a -i on"

# PlistBuddy alias, because sometimes `defaults` just doesn’t cut it
alias plistbuddy="/usr/libexec/PlistBuddy"

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"
