# Runs before husky hooks
# https://typicode.github.io/husky/#/?id=command-not-found

# Load rbenv for `bundle` etc.
eval "$(rbenv init -)"

# Load nvm for `yarn` etc.
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
