"*":
  "exception-reporting":
    userId: "31b38f6f-095e-e1da-aa3f-9f34cf2ec590"
  welcome:
    showOnStartup: false
  core:
    projectHome: "/Users/alec/projects"
    disabledPackages: [
      "metrics"
      "language-c"
      "language-csharp"
      "language-java"
      "language-objective-c"
      "language-python"
      "language-perl"
      "styleguide"
      "language-clojure"
      "language-go"
      "language-less"
      "language-make"
      "language-mustache"
      "language-property-list"
      "package-generator"
      "link"
      "language-toml"
    ]
    themes: [
      "one-dark-ui"
      "slime"
    ]
  editor:
    invisibles:
      eol: " "
    fontFamily: "Hack"
    fontSize: 15
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    lineHeight: 1.6
    preferredLineLength: 120
  pigments: {}
  minimap: {}
  react:
    enabledForAllJavascriptFiles: true
  "markdown-preview":
    useGitHubStyle: true
  "atom-beautify":
    analytics: false
  "circle-ci":
    apiToken: "101cb306703d9746fd87e90bfa83563e4e56ca03"
  linter:
    showErrorPanel: false
  "linter-jshint":
    executablePath: "/Users/alec/.nvm/versions/node/v5.0.0/bin/jshint"
    lintInlineJavaScript: true
  "linter-eslint":
    globalNodePath: "/Users/alec/.nvm/versions/node/v5.0.0"
    useGlobalEslint: true
    disableWhenNoEslintrcFileInPath: true
  "linter-scss-lint":
    executablePath: "/Users/alec/.rbenv/shims/scss-lint"
  "linter-stylint":
    executablePath: "/Users/alec/.nvm/versions/node/v5.0.0/bin/stylint"
  "linter-htmlhint":
    executablePath: "/Users/alec/.nvm/versions/node/v5.0.0/bin/htmlhint"
  "linter-php":
    executablePath: "/usr/bin/php"
  "open-recent":
    maxRecentDirectories: 16
    maxRecentFiles: 4
  "git-diff":
    showIconsInEditorGutter: true
  "autocomplete-plus":
    useAlternateScoring: true
    confirmCompletion: "enter"
  "fuzzy-finder":
    useAlternateScoring: true
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
