"*":
  "atom-beautify":
    general:
      analytics: false
    json:
      brace_style: "none"
      end_with_newline: true
      indent_size: 2
      jslint_happy: true
      keep_array_indentation: true
  "autocomplete-plus":
    confirmCompletion: "enter"
    useAlternateScoring: true
  "circle-ci":
    apiToken: "101cb306703d9746fd87e90bfa83563e4e56ca03"
  core:
    disabledPackages: [
      "metrics"
      "language-c"
      "language-csharp"
      "language-java"
      "language-python"
      "language-perl"
      "styleguide"
      "language-clojure"
      "language-make"
      "language-mustache"
      "language-property-list"
      "package-generator"
      "language-toml"
    ]
    projectHome: "/Users/alec/projects"
  editor:
    fontFamily: "Source Code Pro"
    invisibles:
      eol: " "
    lineHeight: 1.7
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "31b38f6f-095e-e1da-aa3f-9f34cf2ec590"
  "fuzzy-finder":
    useAlternateScoring: true
  "git-diff":
    showIconsInEditorGutter: true
  linter:
    errorPanelHeight: 50
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    eslintrcPath: "/Users/alec/.eslintrc"
    fixOnSave: true
    globalNodePath: "/Users/alec/.nvm/versions/node/v6.2.2"
  "linter-htmlhint":
    executablePath: "/Users/alec/.nvm/versions/node/v6.2.2/bin/htmlhint"
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
    executablePath: "/Users/alec/.nvm/versions/node/v6.2.2/bin/jshint"
    lintInlineJavaScript: true
  "linter-php":
    executablePath: "/usr/bin/php"
  "linter-scss-lint":
    executablePath: "/Users/alec/.rbenv/shims/scss-lint"
  "linter-stylelint":
    disableWhenNoConfig: true
  "linter-stylint":
    executablePath: "/Users/alec/.nvm/versions/node/v6.2.2/bin/stylint"
    onlyRunWhenConfig: true
  "markdown-preview":
    useGitHubStyle: true
  minimap: {}
  "open-recent":
    maxRecentDirectories: 16
    maxRecentFiles: 4
  pigments: {}
  react:
    enabledForAllJavascriptFiles: true
  tabs:
    enableVcsColoring: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".coffee.jsx.source":
  editor:
    preferredLineLength: 120
".css.source":
  editor:
    preferredLineLength: 120
".js.jsx.source":
  editor:
    preferredLineLength: 120
".js.regexp.replacement.source":
  editor:
    preferredLineLength: 120
".js.regexp.source":
  editor:
    preferredLineLength: 120
".js.source":
  editor:
    preferredLineLength: 120
