name: Lint

on: [push, pull_request]

jobs:
  shellcheck:
    name: ShellCheck
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
