name: Scripts

on: [push]

jobs:
  shell:
    name: shell.sh
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Run shell.sh
        run: ./scripts/shell.sh

  vscode:
    name: vscode.sh
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Run vscode.sh
        run: ./scripts/vscode.sh

  sublime:
    name: sublime.sh
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Run sublime.sh
        run: ./scripts/sublime.sh

  macos:
    name: macos.sh
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Run macos.sh
        run: |
          brew install infat
          brew install dockutil
          brew install dark-mode
          ./scripts/macos.sh
